In [296]:
import tweepy

In [297]:
API_Key = 'lLTsSF440XdbUdy8rM9W9f5qA'
API_Key_Secret = 'oSNu8nOdwYqbZv6RGOXoKxydjcDmbRhyg4bINGTImNH8eACabb'
Bearer_Token = 'AAAAAAAAAAAAAAAAAAAAABGTeQEAAAAALMyHyw4l3R9kOtklyk5lkuvsj8M%3DNpASdRQfsFrikWEPTpPuuWU9uJz90g05a2OHZgFavTnD3MNC0r'
Access_Token = '2369981058-4bF4MDnkFs9GynD71rRZaK7fea9wcbgIEwLAjMA'
Access_Token_Secret = '2fsdopsqCrlgjxrSgkcdJjqFV3DmqQEQb55dtBJ8eK0ZI'

In [298]:
client = tweepy.Client(bearer_token = Bearer_Token, wait_on_rate_limit=True)

In [299]:
#extracting my user ID
user_id = client.get_user(username = 'averycoolkiddd')[0]['id']
user_id

2369981058

In [300]:
client.get_user(id = user_id)

Response(data=<User id=2369981058 name=Avery Peterson username=averycoolkiddd>, includes={}, errors=[], meta={})

In [526]:
def extract_tweets(id_, max_results):
    result = []
    
    #extract tweets and add to result
    user_tweets = client.get_users_tweets(id = id_, max_results = max_results).data
    
    for tweet in user_tweets:
        tweet_list = []
        tweet_list.append(client.get_user(id = id_).data.id)
        tweet_list.append(client.get_user(id = id_).data.name)
        tweet_list.append(tweet.text)
        result.append(tweet_list)

    #extract likes and add to result
    user_likes = client.get_liked_tweets(id = id_, max_results = max_results).data
    
    
    for tweet in user_likes:
        tweet_list = []
        tweet_list.append(client.get_user(id = id_).data.id)
        tweet_list.append(client.get_user(id = id_).data.name)
        tweet_list.append(tweet.text)
        result.append(tweet_list)
    
    return result

In [294]:
import pandas as pd

df_user_tweets = pd.DataFrame(extract_tweets(user_id, max_results = 100), columns = ['User_ID', 'Name', 'Tweets'])

Rate limit exceeded. Sleeping for 865 seconds.

KeyboardInterrupt:

In [255]:
#dataframe containing my most recent tweets, likes, and retweets
df_user_tweets

,User_ID,Name,Tweets
0,2369981058,Avery Peterson,RT @RyanWatkins_: I honestly think that as an ...
1,2369981058,Avery Peterson,Quality of work directly impacts quality of li...
2,2369981058,Avery Peterson,"Many are worried that AI will take away jobs, ..."
3,2369981058,Avery Peterson,Human beings are the most power and intelligen...
4,2369981058,Avery Peterson,@TayMar22 It‚Äôs definitely exhausting lol \n\nP...
...,...,...,...
195,2369981058,Avery Peterson,POV you're the Dunkin employee about to hand m...
196,2369981058,Avery Peterson,https://t.co/QKEyQkErh0
197,2369981058,Avery Peterson,Analysts raise Argentina 2022 inflation foreca...
198,2369981058,Avery Peterson,You need to feel to heal. Sitting with uncomfo...
199,2369981058,Avery Peterson,Diabolical! https://t.co/AJAJR8Nf3z

In [257]:
#Exporting DF to a local csv file
df_user_tweets.to_csv('user_tweets.csv',index=False)

In [258]:
df_user_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   User_ID  200 non-null    int64
 1   Name     200 non-null    object
 2   Tweets   200 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.8+ KB

In [301]:
following_data = client.get_users_following(id = user_id, max_results = 200).data

In [302]:
#list of my followers. Will use to filter out second degree accounts in case I already follow them
following_list = [user.name for user in following_data]
following_list

['JustFreshKicks',
 'SNKRS STOCK',
 'Declan Curnin',
 'HOUSE OF HEAT',
 'David Deutsch',
 'HOUSE PORN',
 'Palmer Luckey',
 '‚ö°Ô∏èEquilibrium',
 'Shibetoshi Nakamoto',
 'Sonal Chokshi',
 'Li Jin',
 'Carnivore Aurelius ¬©ü•© ‚òÄÔ∏èü¶ô',
 'SK‚ö°Ô∏è',
 'Cultivating Chi',
 'Ryan Holiday',
 'Peter Thiel',
 'Crypto FI',
 'Tarek Mansour',
 'The All-In Podcast üíßüê¶',
 'Cobie',
 'T',
 'David Greenstein (üéß,üéß) is hiring!',
 'sound.xyz (üéß,üéß)',
 'nftnow.x üí≠',
 'Jack Harlow',
 'NEAR Protocol',
 'RYAN SŒûAN ADAMS - rsa.eth ü¶áüîä',
 'íê™',
 'Series',
 'C√©sar A. Hidalgo',
 'Tim Urban',
 'Bankless üè¥',
 'Ryan Petersen',
 'TayMar',
 'Bharat Krymo',
 'Urim Kluna',
 'Bret Weinstein',
 'Coinbase Cloud',
 'Codie Sanchez üí•',
 'Stop Scrolling.',
 'Cosmos - Internet of Blockchains ‚öõÔ∏è',
 'OurNetwork',
 'Not Boring',
 'The Defiant',
 'BanklessDAO üè¥',
 'Forefront',
 'SHREK KNOWS RAP',
 "Adam D'Angelo",
 'Marc Andreessen',
 'ETHDenver üèîü¶¨ü¶Ñ',
 'Friends With Benefits ($FWB)',
 'cantino.eth',
 'S‚óéL Big Brain (33.3%)',
 'Cozomo de‚Äô Medici',
 'LaSs0 üëÅ\u200düó® ü¶áüîä',
 'Hoffman.eth',
 'GuardianKongz',
 'ùöíùöúùöòùöùùöòùöôùöéùöú',
 'ZŒûITR',
 'Swampverse',
 'Archillect',
 'Noadz ‚åê‚ó®-‚ó®',
 'wh0',
 'CROAKZ',
 'metaverse imagined',
 'Joe',
 'CyberKongz',
 'Deadfellaz',
 'Toadz Haus // DAO',
 'CC0 FTW',
 'Juicebox üîÅ',
 'uppsy.eth',
 'jord',
 'REBEL „É¨„É¥„Çß„É´_1',
 'timeloop',
 'blocksofmilk.eth',
 'smok',
 'pyeongyang.eth',
 'ElTapitudo',
 'Scamart',
 'h',
 'MDG Imagery',
 'Cruz',
 'Head Dao NFT',
 'XTOADZ',
 'Gert van Lagen',
 'Crypto Duckies (onchain)',
 'Curious Capys | SOLD OUT IN 32 DAYS',
 'Chuck Anderson',
 'thugbirdz ¬¨¬¨',
 'ü•áProfessorAstronesü•á',
 'AlexisOhanian7Ô∏è‚É£7Ô∏è‚É£6Ô∏è‚É£',
 'Baby Toads ¬∑ Minting LIVE',
 'Chain Runners - XR Minting Now',
 'Solanart - Aggregating all Marketplaces',
 'SolPunks',
 'SolanaMonkeyBusiness',
 'Michael Mauboussin',
 'CHUNKS.W‚ñ°RLD',
 'Zhu Su üî∫',
 'Layer3',
 'Robert J Frey',
 'david friedberg',
 'Dan Robinson',
 'Andrew Kang',
 'jonwu.(üóΩ, üçé)',
 'Santiago R Santos | #9159 üêíü§ñ',
 'zachdavidson.eth',
 'Julia Lipton',
 'Chase Chapman üåä',
 'Yat Siu',
 'Piers Kicks // zezima.eth',
 'carra.eth',
 'Amy Wu',
 'dame.eth',
 'Andrew Steinwold',
 'zeneca.eth (üîÆ,üî•)',
 'Maria ‚ö°Ô∏è',
 'Linda Xie',
 'John Doerr',
 'Andrew D. Huberman, Ph.D.',
 'Trung Phan',
 'Bill Ackman',
 'Bitcoin Archive üóÑüöÄüåî',
 'cdixon.eth',
 'Yassine Elmandjra',
 'PlanB',
 'billŒû.eth (\U0001fae1, \U0001fae1)',
 'zhang',
 'brian flynn',
 'LATE CHECKOUT',
 'Farokh',
 'Will Papper ‚ú∫',
 '6529',
 'illiquidjpeg.eth ‚åê‚ó®-‚ó®',
 'Lex Sokolin ü¶áüîä,‚úä‚òÄÔ∏è finlex.eth',
 'dom',
 'Paris Rouzati',
 'Jesse Pollak (jesse.xyz)',
 'Jesse Walden',
 'Coopahtroopa üî•_üî•',
 'Kevin Dahlstrom',
 'InvestAnswers',
 'Sahil Bloom',
 'Future',
 'TechDev',
 'CRIZZLE.eth',
 'coldplunge',
 'MoonCats',
 'ashy daddy',
 'Zack Fox',
 'gfodor',
 'Fintwit',
 'Alex & Books üìö',
 'wil',
 'CryptoFlyz',
 'CryptoDickbutts',
 'IDK',
 'Andrew Yangüß¢‚¨ÜÔ∏èüá∫üá∏',
 'jason@calacanis.com',
 'Snoop Dogg',
 'NickyAds',
 'Prof. Feynman',
 'The Drop Crypto',
 'The Drop',
 'Will Clemente',
 'Mike Schroepfer',
 'eBoy',
 'Timpers.eth üëæ',
 'Raoul Pal',
 'MATTY ·µç·µê',
 'Douglas A. Boneparth',
 'Benjamin Cowen',
 'dani',
 'Packrip Ewing',
 'John Tan',
 'trill',
 'Dapper Labs',
 'Jason Lowery',
 'Mason Nystrom',
 'Mikey J',
 '0xSalary üç≠',
 'VincentVanDough',
 'XM92 ü´ê',
 'XCOPY üè¥',
 'coopy',
 'ETH Burn üî• Bot ü¶áüîä',
 'Lex Fridman',
 '4156 ‚åê‚ó®-‚ó®',
 'Cred',
 'CrypToadz',
 'devloper ‚åê‚ó®-‚ó®',
 'gremplin ‚åê‚ó®-‚ó®',
 'Silvio Micali',
 'sunny',
 'Eli',
 'MekaVerse',
 'Unofficial',
 'hasse.eth üá∫üá¶ üá∏üá™',
 'Shaan Puri']

In [313]:
#User ID's for each follower in list
following_ids = [user.id for user in following_data]

In [328]:
following_ids

[1772606058,
 1407534374061543425,
 1093976963595722752,
 719831219123417089,
 841709695,
 1299674729612222466,
 294306372,
 1037025083691216896,
 30699048,
 14161568,
 774642558853009408,
 1059871261092929537,
 831693103056699392,
 1409665462691061763,
 3764301,
 49736166,
 1472207412732039172,
 1362103982089531392,
 1234260054368342016,
 2259434528,
 166747718,
 236194525,
 1427648037313294341,
 1353062898419994626,
 61642247,
 1031949518609121280,
 14571055,
 829482275318484993,
 1438522150021828616,
 27047369,
 1282121312,
 1225557966142820354,
 395978320,
 1415069503705128961,
 1372873723653591049,
 1226162445221277698,
 78683448,
 1374418187047952399,
 258512916,
 1107324796545708035,
 15223775,
 1072152565113073665,
 1186935469570973702,
 1237544865216507906,
 1380589844838055937,
 1087282265774669824,
 1182539258764103680,
 10476462,
 5943622,
 754438462141378560,
 1342357104007503872,
 99188594,
 1424905944857722887,
 1432402638868389892,
 1189950262510833664,
 1456293729900417027,
 1464149139906875394,
 1452478236852637698,
 1424531514377662470,
 1442004649670692867,
 2907774137,
 1460701007407583233,
 100468946,
 1451272149084237842,
 767897949116375040,
 1390574627479490560,
 1367095024069062657,
 1417676536967090176,
 1449112931896111105,
 1457059098399174658,
 831018377854361600,
 712726955372781568,
 1431127064195829760,
 790234642762829824,
 1466603704019087362,
 1430920960492904454,
 1105103189760602112,
 1445385300616826882,
 1220369548572004352,
 1437633986457649156,
 1288219150788235264,
 1465002139344941057,
 1438650783591923712,
 1449828133025157120,
 1453505220504293381,
 94587116,
 1394709609370243076,
 1461115893690167296,
 17482071,
 1419332583935127558,
 1191441760385470467,
 811350,
 1463167970213908480,
 1420529459820519424,
 1406063244532404225,
 1381601992313819137,
 1392835126845865986,
 633238141,
 1392294001617903626,
 79714172,
 1393335143188762624,
 61555249,
 16359535,
 273288231,
 1138033434,
 15809138,
 737132550,
 465173917,
 266756866,
 1231590550429675520,
 16168217,
 85709588,
 982132176723460096,
 1388236590049206272,
 476019403,
 894317267273560064,
 1370479673818427403,
 27134030,
 520770492,
 22255654,
 4416456732,
 945817135816654848,
 880412538625810432,
 970994516357472257,
 2529971,
 2516844961,
 918804624303382528,
 2581302289,
 159536668,
 777685806437785601,
 1262499094876033026,
 3369243892,
 565865827,
 1388487332093997057,
 1431480996289912843,
 1465880802,
 13258512,
 244721230,
 18876842,
 26149295,
 305830702,
 1296521,
 37084745,
 312681953,
 5526712,
 443073989,
 1355582773050785796,
 1214570939116998661,
 1370430685756854274,
 272071608,
 1700626069,
 21245713,
 932271127648489473,
 840010544425889792,
 26354941,
 1442910968057634816,
 1366854653640597505,
 2223891277,
 2228878592,
 3840,
 3004231,
 18436072,
 823518894182846464,
 1363989841877164032,
 1440147580684431368,
 1270906326823186432,
 6182852,
 207863238,
 3243965897,
 2453385626,
 3038667163,
 158049457,
 943506806931734528,
 1399195055743803393,
 1365512127339970562,
 101783141,
 1189028908424810497,
 974676150092947457,
 1425531375751421952,
 1279369220,
 394768624,
 1384484312863567875,
 1415760166667145227,
 2312485132,
 177395566,
 1432075104016637952,
 1424548356848701447,
 427089628,
 1362443063432531968,
 899558268795842561,
 1424917001873633299,
 1427220791951822848,
 1493633910,
 960898464497459200,
 2928030234,
 1378508984823390209,
 1431223416439312393,
 1426552326010155011,
 3303131608,
 101354595]

In [339]:
sec_deg_following_lst = [client.get_users_following(id = id_, max_results = 5).data for id_ in following_ids]

Rate limit exceeded. Sleeping for 114 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 898 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.
Rate limit exceeded. Sleeping for 899 seconds.

In [342]:
sec_deg_following_lst[1]

[<User id=27553316 name=Josh Ong username=beijingdou>,
 <User id=64786741 name=TheBetterGeneration username=TBGeneration>,
 <User id=19382500 name=SoleCollector.com username=SoleCollector>,
 <User id=309387724 name=Tom Sachs username=tom_sachs>,
 <User id=1772606058 name=JustFreshKicks username=JustFreshKicks>]

In [357]:
sec_deg_id_lst = []
for group in sec_deg_following_lst:
    if group == None:
        continue
    else:
        for user in group:
            sec_deg_id_lst.append(user.id)

In [591]:
len(sec_deg_id_lst)

958

In [528]:
df_2nd_deg = pd.DataFrame()

In [529]:
result = []
for user in sec_deg_id_lst[0:10]:
    
    result.append(extract_tweets(user, 100))

Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 863 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 865 seconds.

In [530]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)

In [531]:
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
169,458043147,Tim Nguyen,I would be the one to forget my vocab book bef...
170,458043147,Tim Nguyen,Getting used to wearing shorts in December now.
171,458043147,Tim Nguyen,That home cooked pho doe. üçúüëåüòç
172,458043147,Tim Nguyen,just working on the extended edit of this Gang...
173,458043147,Tim Nguyen,Dodged another windshield today.....BUG LIFE.

In [532]:
result = []
for user in sec_deg_id_lst[12:20]:
    tweets = extract_tweets(user, 100)
    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 864 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 862 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 866 seconds.

In [533]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)

In [537]:
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
194,16723589,Liberty,One example is that children supposedly learn ...
195,16723589,Liberty,"In conversations about education, people often..."
196,16723589,Liberty,It's not pig ignorance because the errors only...
197,16723589,Liberty,"If you‚Äôre in the mood for some philosophy, thi..."
198,16723589,Liberty,"@reasonisfun @iamFilos The editing, the polish..."

In [538]:
result = []
for user in sec_deg_id_lst[20:30]:
    tweets = extract_tweets(user, 100)
    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 858 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.

In [539]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)

In [540]:
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
193,2533039163,üü† Mike Lucchesi,morning well spent ‚úÖ https://t.co/Heh5GvLfIj
194,2533039163,üü† Mike Lucchesi,It‚Äôs my best buddy‚Äôs birthday today\n\nThis gu...
195,2533039163,üü† Mike Lucchesi,Elephants are Godly animals. https://t.co/WZX6...
196,2533039163,üü† Mike Lucchesi,Love is a high energy state &amp; a great way ...
197,2533039163,üü† Mike Lucchesi,I mess up a lot but I'm teaching my sons:\n\n-...

In [541]:
result = []
for user in sec_deg_id_lst[30:40]:
    tweets = extract_tweets(user, 100)
    if tweets == None:
        continue
    else:
        result.append(tweets)
        
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
195,1063067256991625217,Ryan {üëæ},"Gaming is bigger than music, movies, and TV co..."
196,1063067256991625217,Ryan {üëæ},@0xRyze Every game and job can be plotted on a...
197,1063067256991625217,Ryan {üëæ},@0xRyze Depends on how you define words like g...
198,1063067256991625217,Ryan {üëæ},weather is quite pleasant today i'm going to g...
199,1063067256991625217,Ryan {üëæ},it's so radical to simply be cheerful and kind

In [542]:
result = []
for user in sec_deg_id_lst[40:50]:
    tweets = extract_tweets(user, 100)
    if tweets == None:
        continue
    else:
        result.append(tweets)
        
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 866 seconds.

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
194,1206901566487375872,n.,hope you know how loved you are &lt;3 https://...
195,1206901566487375872,n.,https://t.co/11kGVrqNcB
196,1206901566487375872,n.,being judgmental and negative is not hot
197,1206901566487375872,n.,summer dreaming https://t.co/SKNtlOTCO1
198,1206901566487375872,n.,somewhere on a rooftop in Paris https://t.co/1...

In [543]:
result = []
for user in sec_deg_id_lst[52:60]:

    tweets = extract_tweets(user, 100)

    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 864 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 861 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 862 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 868 seconds.

In [544]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
111,1366529249264345090,Is this what they were dying for?,@DidTheyDie4This https://t.co/KcOgL1U6My
112,1366529249264345090,Is this what they were dying for?,@DidTheyDie4This Fighting against Fascism to p...
113,1366529249264345090,Is this what they were dying for?,@DidTheyDie4This https://t.co/A7KWHvHjMr
114,1366529249264345090,Is this what they were dying for?,@DidTheyDie4This https://t.co/FjkCrDiyy8
115,1366529249264345090,Is this what they were dying for?,@DidTheyDie4This killed by a mulatto even bett...

In [557]:
result = []
for user in sec_deg_id_lst[62:70]:

    tweets = extract_tweets(user, 100)

    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 864 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 863 seconds.
Rate limit exceeded. Sleeping for 840 seconds.
Rate limit exceeded. Sleeping for 867 seconds.

In [558]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
194,1187481539963080704,Florian Strauf,*YELLEN: `DEMAND AND SUPPLY IS LARGELY DRIVING...
195,1187481539963080704,Florian Strauf,Ron Paul https://t.co/gLba8wLG0p
196,1187481539963080704,Florian Strauf,Gm ü§ù https://t.co/7P06LxeCj0
197,1187481539963080704,Florian Strauf,Yield &amp; Emissions\n\nMost people see an AP...
198,1187481539963080704,Florian Strauf,"1/ On How Short Life Is\n\nA few years ago, I ..."

In [561]:
result = []
for user in sec_deg_id_lst[70:80]:

    tweets = extract_tweets(user, 100)

    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 361 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 870 seconds.

In [562]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
193,1492677599390322689,Weird Dall-E Mini Generations,@weirddalle These have no right to go that hard
194,1492677599390322689,Weird Dall-E Mini Generations,I'm taking credit for this https://t.co/fytoIU...
195,1492677599390322689,Weird Dall-E Mini Generations,@weirddalle Dam https://t.co/vR405jEdTl
196,1492677599390322689,Weird Dall-E Mini Generations,doggo can or can not play it's as simple as th...
197,1492677599390322689,Weird Dall-E Mini Generations,Dall-E out-designing Kanye: https://t.co/G4QSP...

In [563]:
result = []
for user in sec_deg_id_lst[85:90]:

    tweets = extract_tweets(user, 100)

    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.

In [564]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
195,15795750,Dust-to-Digital,"Brooklyn Folk Festival: 2020 lineup, schedule ..."
196,15795750,Dust-to-Digital,@michaelcorcoran https://t.co/s4VWUpUQCq
197,15795750,Dust-to-Digital,This is my zen moment today. https://t.co/Qag3...
198,15795750,Dust-to-Digital,Started the year with a spot of Sacred Harp. W...
199,15795750,Dust-to-Digital,I love following @dusttodigital I learn so mu...

In [565]:
result = []
for user in sec_deg_id_lst[90:100]:

    tweets = extract_tweets(user, 100)

    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 867 seconds.

In [566]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
195,2648703179,salem ilese,Just became the # 431 backer of Crypto Boy fro...
196,2648703179,salem ilese,LFG! Just became the # 309 backer of Crypto Bo...
197,2648703179,salem ilese,@soundxyz_ @salemilese @pussyrrriot @ReproRigh...
198,2648703179,salem ilese,TODAY: @soundxyz_ @pussyrrriot @salemilese 1...
199,2648703179,salem ilese,"Wow, @salemilese you‚Äôre a sweetheart ‚ù§Ô∏è\n\nIt ..."

In [567]:
result = []
for user in sec_deg_id_lst[100:110]:

    tweets = extract_tweets(user, 100)

    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 869 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 870 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 863 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 865 seconds.

In [568]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
194,524878657,cadejah ‚ô°,üáµüáπüáµüáπüáµüáπ https://t.co/s0RP98ltG9
195,524878657,cadejah ‚ô°,oh the girls are losing it again!! pls get ser...
196,524878657,cadejah ‚ô°,@cadejahhxo https://t.co/sthtSUTPg8
197,524878657,cadejah ‚ô°,A baby went to a 4th of July parade &amp; left...
198,524878657,cadejah ‚ô°,Chico Bean challenged Coco Jones to a Busta Rh...

In [569]:
result = []
for user in sec_deg_id_lst[110:119]:

    tweets = extract_tweets(user, 100)

    if tweets == None:
        continue
    else:
        result.append(tweets)

Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 864 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 868 seconds.
Rate limit exceeded. Sleeping for 867 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 865 seconds.
Rate limit exceeded. Sleeping for 866 seconds.
Rate limit exceeded. Sleeping for 868 seconds.

In [570]:
for tweets in result:
    df_2nd_deg = df_2nd_deg.append(tweets)
    
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
149,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢EYWA is a Cross-chain Liquidity and Data Prot...
150,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üáªüá≥ At the request of the community, we launch..."
151,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üá´üá∑ At the request of the community, we launch..."
152,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢What EYWA gives to DeFi developers?\n#DeFi #D...
153,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢ What EYWA gives to traders?\n#DeFi #yieldfa...

In [571]:
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
149,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢EYWA is a Cross-chain Liquidity and Data Prot...
150,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üáªüá≥ At the request of the community, we launch..."
151,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üá´üá∑ At the request of the community, we launch..."
152,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢What EYWA gives to DeFi developers?\n#DeFi #D...
153,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢ What EYWA gives to traders?\n#DeFi #yieldfa...

In [572]:
df_2nd_deg_2 = df_2nd_deg.copy()

In [573]:
df_2nd_deg_2

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
149,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢EYWA is a Cross-chain Liquidity and Data Prot...
150,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üáªüá≥ At the request of the community, we launch..."
151,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üá´üá∑ At the request of the community, we launch..."
152,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢What EYWA gives to DeFi developers?\n#DeFi #D...
153,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢ What EYWA gives to traders?\n#DeFi #yieldfa...

In [576]:
df_2nd_deg_2.to_csv('2nd_deg_user_tweets_final.csv',index=False)

In [575]:
df_2nd_deg

,0,1,2
0,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods Pro on sale for ...
1,2239795592,JustFreshAlerts,Prime Day Deal: Apple MacBook Air Latest Mode...
2,2239795592,JustFreshAlerts,Prime Day Deal: Apple AirPods with Charging Ca...
3,2239795592,JustFreshAlerts,Restock: Nintendo Switch Animal Crossing: New ...
4,2239795592,JustFreshAlerts,Nintendo Switch with Neon Blue and Neon Red Jo...
...,...,...,...
149,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢EYWA is a Cross-chain Liquidity and Data Prot...
150,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üáªüá≥ At the request of the community, we launch..."
151,1410514629034393600,EYWA cross-chain liquidity and data protocol,"üì¢üá´üá∑ At the request of the community, we launch..."
152,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢What EYWA gives to DeFi developers?\n#DeFi #D...
153,1410514629034393600,EYWA cross-chain liquidity and data protocol,üì¢ What EYWA gives to traders?\n#DeFi #yieldfa...

In [580]:
pd.DataFrame(following_list).to_csv('Following_List.csv', index = False)

In [579]:
pd.DataFrame(following_list)

                   0
0     JustFreshKicks
1        SNKRS STOCK
2      Declan Curnin
3      HOUSE OF HEAT
4      David Deutsch
..               ...
195              Eli
196        MekaVerse
197       Unofficial
198  hasse.eth üá∫üá¶ üá∏üá™
199       Shaan Puri

[200 rows x 1 columns]

In [590]:
df_2nd_deg[df_2nd_deg[1] == 'üü† Mike Lucchesi']

,0,1,2
0,2533039163,üü† Mike Lucchesi,@RealHappyHogan üòÇ
1,2533039163,üü† Mike Lucchesi,RT @BAGFPepper: Action is the cure to overthin...
2,2533039163,üü† Mike Lucchesi,@davidshestrin Still making sense of it myself...
3,2533039163,üü† Mike Lucchesi,@davidshestrin Follow these true north body cu...
4,2533039163,üü† Mike Lucchesi,@davidshestrin In the style of yogi I've pract...
...,...,...,...
193,2533039163,üü† Mike Lucchesi,morning well spent ‚úÖ https://t.co/Heh5GvLfIj
194,2533039163,üü† Mike Lucchesi,It‚Äôs my best buddy‚Äôs birthday today\n\nThis gu...
195,2533039163,üü† Mike Lucchesi,Elephants are Godly animals. https://t.co/WZX6...
196,2533039163,üü† Mike Lucchesi,Love is a high energy state &amp; a great way ...
197,2533039163,üü† Mike Lucchesi,I mess up a lot but I'm teaching my sons:\n\n-...

##